@import "tailwindcss";

@theme {
  --animate-blink: blink 1s ease-in-out infinite;
  @keyframes blink {
    0%, 100% { 
      opacity: 1; 
      transform: scale(1.02); 
      filter: brightness(1.5);
    }
    50% { 
      opacity: 0.6; 
      transform: scale(1); 
      filter: brightness(1);
    }
  }
}
